<footer class="footer py-3 bg-light text-muted">
    <div class="container-fluid"> <div class="f-info d-flex justify-content-center align-items-center flex-wrap">
            <div class="f-info-socials">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
            <div class="f-info-brand mx-4">&copy; Wanderlust Private Limited</div> <div class="f-info-links">
                <a href="/privacy">Privacy</a>
                <a href="/terms">Terms</a>
            </div>
        </div>
    </div>
</footer>